<ul>
  
   <h1>API Reference</h1>
  <p>The TranslateFX API is organized around REST. Our API has:</p>
    <ul>
    <li style="font-size: 18px; color: #888; margin: 0 0 20px 20px;">predictable resource-oriented URLs,</li>
    <li style="font-size: 18px; color: #888; margin: 0 0 20px 20px;">accepts form-encoded request bodies encoded in UTF-8,</li>
    <li style="font-size: 18px; color: #888; margin: 0 0 20px 20px;">returns JSON-encoded responses,</li>
    <li style="font-size: 18px; color: #888; margin: 0 0 20px 20px;">and uses standard HTTP response codes, authentication, and verbs.</li>
  </ul>
  </p>

  <p>The TranslateFX API differs for every account as we release new versions and tailor functionality. Sign in to see docs customized to your version of the API.</p>
  <p>Below are your API versions:</p>
  <% @swagger_url.each_key do |k| %>
    <li>
      <h1> <%= link_to k, swagger_doc_path(k) %> </h1>
    </li>
  <% end %>
</ul>
