#swagger-ui-container {
  margin-bottom: 30px;
}

.swagger-return-link {
  padding-bottom: 30px;
}

.swagger-section #header{
  background-color: #252525;
}

.swagger-section #explore, .swagger-section #auth_container .authorize__btn{
  background-color: #4a90e2;
}

.swagger-section #header{
  padding:  22px 14px 23px 14px;
}

.logo_title {
    text-decoration-line: none;
    font-size: 32px;
    color: white !important;
}

a {
  color: #4a90e2;
}

.swagger-section .swagger-ui-wrap a {
color: #4a90e2;  
}

.swagger-section .swagger-ui-wrap p {
    padding: 13px 0;
    color: #888;
}

.main_page_p.p{
  font-size: 18px;
}
